extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Naomi Rivera
        p Future Full Stack JavaScript Developer


        .about-bio
          p Welcome! I'm a Software Developer Apprentice eager to expand my coding skills. I graduated from UC San Diego with a major in Economics and minor in Data Science. Over the last two summers, I served as a Lead TA at Girls Who Code, where I taught students how to create websites and games using HTML, CSS, and Javascript. 
          p Despite my analytical background, my time at GWC revealed my passion for software development. This realization led me to participate in AnitaB's Pathway Program, aimed at assisting women from diverse career backgrounds in transitioning into tech careers.  Throughout the program's learning phase, we engaged with Treehouse's Full Stack Javascript Techdegree, completing 10 unit projects in just 3 months. Our studies covered various topics, including React, Node.js, and more. Moving forward on this journey, I'm thrilled about furthering my career growth. 


      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SQL ORM Sequelize
          li REST API 
          li React

        h6 Contact Info
        ul
          li 650-518-1363
          li rivera.naomi98@gmail.com
        a.btn-link(href='https://www.linkedin.com/in/naomigrivera/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/nriveram' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back