extends layout.pug

block content

  article.portfolio-intro

    h1 A Glimpse Into My Career

    p A showcase of my journey in software engineering, featuring a diverse range of projects that demonstrate my proficiency in coding and problem-solving. 

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell 
            a(href=`/projects/${project.id}`)
              img.thumbnail(src=`${project.image_urls[0]}`, alt=`Preview picture of ${project.project_name}`)
              h5= `${project.project_name}`

